* {
    margin: 0;
    padding: 0;
    transform: scale(0.8);
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    transition: all .3s ease;
}
body {
    background: linear-gradient(180deg, #00a2ff, #00e5ff);
    min-height: 100vb;
}
.mark1 {
    position: absolute;
    margin-left: -390px;
}
.mark2 {
    margin-left: -20px;
    position: absolute;
    transform: scale(0.8);
}
.mark3 {
    transform: scale(1.0);
    margin-top: 60px;
    margin-left: 400px;
    position: absolute;
}